@media only screen and (min-device-width: 320px) and (max-device-width: 736px){

    * {

        padding: 0;
        margin: 0;

    }

    html {

        background-image: url(../images/backgrounds/footer_lodyas.png);
        height: 100%;

    }

    #body{

        width: 100%;

    }

/*LOGIN BAR MOBILE CSS*/

    #login {

        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 20px;
        background-color: #333333;

    }

    #login p {

        float: right;
        color: white;

    }

    #loginPop {

        display: none;

    }

    #login p:hover {

        color: darkorange;

    }

    #login:hover #loginPop {

        display: block;
        height: 40px;
        width: 100%;
        text-align: center;
        position: absolute;
        right: 0;
        top: 20px;
        background-color: #333333;
        padding: 5px;

    }

    #loginPop input {

        width: 45%;

    }

    #loginButton, #submit {

        padding: 2px;
        border: black solid 2px;
        background-color: darkorange;
        font-weight: bold;

}

    .cart {

        position: fixed;
        top: 0;
        left: 0;
        height: 20px;

    }

/*MASTHEAD MOBILE CSS*/

    #masthead {

        height: 140px;
        text-align: center;

    }

    #masthead img {

        height: 60px;
        padding: 5px;

    }

    #search {

        position: relative;
        top: 100px;
        margin: auto;

    }

/*NAVBAR MOBILE CSS*/

    #navBar {

        position: relative;
        color: #C1C1C1;
        background-color: #666666;
        text-align: center;
        height: 25px;

    }

    #navBar ul li {

        display: inline-block;
        padding: 4px 0 0 0;

    }

    #navBar ul li a {

        text-decoration: none;
        padding: 0 5px 0 5px;
        color: #C1C1C1;

    }

    #navBar ul li a:hover, #active {

        background-color: #333333;
        border-bottom: solid 4px darkorange;

    }

/*BODY MOBILE CSS*/

#body {

    position: : absolute;
    background-color: white;
    position: relative;
    width: 100%;
    margin: 15px 0 15px 0;


}

#body img {

    overflow: hidden;
    width: 100%;
    /* height: 650px; */

}

#homeImage {

    overflow: hidden;
    width: 100%;
    margin: 15px 0 15px 0;

}

#bodyContent {

    width: 90%;
    margin: 0 auto;
    min-height: 600px;
    overflow: hidden;

}

/* FOOTER MOBILE CSS */

    #footer {

        width: 100%;
        position: absolute;
        background-color: #666666;
        color: #C1C1C1;
        width: 80%;
        height: 20px;
        min-width: 100%;
        text-align: center;

    }

    #footer ul li {

      display: inline;
      padding: 5px;

    }

    #footer ul li a {

        display: inline-block;
        padding: 4px 5px 0 5px;
        color: #C1C1C1;
        text-decoration: none;
        font-size: 12px;

    }

    #footer ul li a:hover {

        color: darkorange;

    }

    #footer p {

      font-size: 10px;
      position: fixed;
      bottom: 5px;
      right: 5px;
      color: #C1C1C1;

    }


    #validation{

        display: none;
        position: fixed;
        bottom: 3px;
        left: 10px;

    }

    #validation a {

      padding: 0;

    }

    #validation img {

        height: 10px;

    }


/*POLICY PAGE MOBILE CSS*/

    #privacy {

        text-align: justify;

    }

    #privacy h1, #privacy h3 {

        color: darkorange;

    }

    #privacy div p {

        font-size: 8px;

    }

/*CONTACT PAGE MOBILE CSS*/

    #left {

        width: 100%;
        padding: 25px 0 0 0;

    }

    #right {

        position: relative;
        width: 100%;
        height: 100%;
        text-align: right;

    }


    #contact form {

        width: 100%;
        padding: 16px;

    }

    #contact form div + div {

        margin-top: 16px;

    }

    #contact label {

        display: inline-block;
        width: 90px;
        text-align: right;

    }

    #contact input, #contact textarea {

        font: 16px sans-serif;
        width: 90%;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: 1px solid #999;

    }

    #contact input:focus, #contact textarea:focus {

        border-color: #000;

    }

    #contact textarea {

        vertical-align: top;
        height: 200px;
        resize: vertical;

    }

    #send {

        text-align: center;
        width: 175px;
        padding: 2px;
        border: black solid 2px;
        background-color: darkorange;
        font-weight: bold;

    }

    #contact button {

        margin-left: 8px;

    }

    #right p {

        padding: 10px 0 15px 20px;
        font-size: 12px;
        font-weight: bold;

    }

    #right iframe {

        height: 250px;

    }

/*GAMES LIST MOBILE CSS*/

    #gameDisplay {

        text-align: center;

    }

    #gameDisplay table tr td {

        display: inline;
        width: 90%;
        padding: 10px;

    }

    #gameDisplay table tr td h2 {

        color: darkorange;
        font-weight: bold;
        padding: 5px;

    }

    #gameDisplay table tr td img {

        width: 60%;

    }

    #gameDisplay table tr td h3 {

        font-size: 28px;
        padding: 5px;

    }

    #hidden {

        display: none;

    }

    #gameDisplay table tr td form input{

        width: 65%;
        padding: 2px;
        background-color: darkorange;
        font-weight: bold;
        border: black 2px solid;

    }

/*SINGLE GAME MOBILE CSS*/

    #sidebar img {

        padding-top: 15px;

    }

    #sidebar h2 {

        text-align: center;
        font-size: 32px;

    }

    #addCart {

        width: 50%;
        text-align: center;

    }

    #amount, #price  {

        width: 75px;
        height: 25px;
        text-align: center;

    }

    #addButton {

        background-color: darkorange;
        padding: 2px;
        border: black solid 2px;
        font-weight: bold;
        width: 125px;

    }
    #addCart img {

        width: 25px;

    }

    #details {

        text-align: center;

    }

    #details a {

        text-align: center;
        padding: 10px;
        color: darkorange;
        text-decoration: none;
        font-size: 20px;

    }

    #details p {

        text-align: justify;

    }

    #trailer {

        width: 100%;

    }

    /*LOGIN ERROR CSS*/

    #loginerror {

        width: 50%;
        margin: 100px auto;
        text-align: center;

    }

    #loginerror p {

        padding: 15px;
        color: red;
        font-weight: bold;
        font-size: 16px;

    }

    #loginerror input {

        height: 20px;
        width: 250px;
        margin: 5px;
        text-align: center;

    }


}